## Assignment No.4 Part-I :- Chisquare_test

# Chi-Square Test Analysis
## Association between Device Type and Customer Satisfaction

### Background:
Mizzare Corporation has collected data on customer satisfaction levels for two types of smart home devices: **Smart Thermostats** and **Smart Lights**. They aim to determine if there's a significant association between the type of device purchased and the customer satisfaction level.

### Data Provided:

| Satisfaction       | Smart Thermostat | Smart Light | Total |
|--------------------|------------------|-------------|-------|
| Very Satisfied      | 50               | 70          | 120   |
| Satisfied           | 80               | 100         | 180   |
| Neutral             | 60               | 90          | 150   |
| Unsatisfied         | 30               | 50          | 80    |
| Very Unsatisfied    | 20               | 50          | 70    |
| **Total**           | **240**          | **360**     | **600** |

### Objective:
To use the **Chi-Square test for independence** to determine if there is a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

---

### Steps Involved in the Chi-Square Test:

#### 1. Hypotheses:

- **Null Hypothesis (H₀):**  
   *There is no association between the type of smart home device (Smart Thermostat or Smart Light) and customer satisfaction level.*
  
- **Alternative Hypothesis (H₁):**  
   *There is an association between the type of smart home device and customer satisfaction level.*

#### 2. Compute the Chi-Square Statistic:

Using the observed and expected frequencies, calculate the Chi-Square statistic using the formula:

\[
\chi^2 = \sum \frac{(O - E)^2}{E}
\]

Where:
- \(O\) = Observed frequency
- \(E\) = Expected frequency

#### 3. Determine the Critical Value:

- Significance level (\(\alpha\)) = 0.05
- Degrees of freedom (df) = (Number of rows - 1) * (Number of columns - 1)
  \[
  df = (5 - 1)(2 - 1) = 4
  \]

Using the Chi-Square distribution table, find the critical value for \(df = 4\) and \(\alpha = 0.05\).

#### 4. Make a Decision:

- Compare the calculated Chi-Square statistic to the critical value.
- If the Chi-Square statistic > Critical value: Reject the null hypothesis.
- If the Chi-Square statistic ≤ Critical value: Fail to reject the null hypothesis.

### Conclusion:
Based on the results, state whether there is a significant association between the type of device and customer satisfaction.

---

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

In [29]:
data = np.array([[50, 70],    # Very Satisfied
                 [80, 100],   # Satisfied
                 [60, 90],    # Neutral
                 [30, 50],    # Unsatisfied
                 [20, 50]])   # Very Unsatisfied

# Create a DataFrame for visualization (optional)
df = pd.DataFrame(data, 
                  columns=["Smart Thermostat", "Smart Light"], 
                  index=["Very Satisfied", "Satisfied", "Neutral", "Unsatisfied", "Very Unsatisfied"])

In [30]:
df.describe()

       Smart Thermostat  Smart Light
count          5.000000     5.000000
mean          48.000000    72.000000
std           23.874673    22.803509
min           20.000000    50.000000
25%           30.000000    50.000000
50%           50.000000    70.000000
75%           60.000000    90.000000
max           80.000000   100.000000

In [8]:
obs = pd.crosstab(index= df["Satisfaction Level"] , columns= [df["Smart Thermostat"],df["Smart Light"]])
obs

Smart Thermostat    20  30  50  60  80
Smart Light        50  50  70  90  100
Satisfaction Level
Neutral              0   0   0   1   0
Satisfied            0   0   0   0   1
Unsatisfied          0   1   0   0   0
Very Satisfied       0   0   1   0   0
Very Unsatisfied     1   0   0   0   0

In [20]:
chi2_stat, p_value, dof, expected = chi2_contingency(df)

TypeError: '<' not supported between instances of 'str' and 'int'

In [31]:
chi2_stat, p_value, dof, expected = chi2_contingency(data)

In [32]:
expected_df = pd.DataFrame(expected, 
                           columns=["Smart Thermostat", "Smart Light"], 
                           index=["Very Satisfied", "Satisfied", "Neutral", "Unsatisfied", "Very Unsatisfied"])
expected_df

                  Smart Thermostat  Smart Light
Very Satisfied                48.0         72.0
Satisfied                     72.0        108.0
Neutral                       60.0         90.0
Unsatisfied                   32.0         48.0
Very Unsatisfied              28.0         42.0

In [33]:
p_value

0.22784371130697179

In [34]:
alpha = 0.05

In [35]:
if p_value < alpha:
    print("\nConclusion: Reject the null hypothesis (H₀). There is a significant association between the type of device and customer satisfaction.")
else:
    print("\nConclusion: Fail to reject the null hypothesis (H₀). No significant association found between the type of device and customer satisfaction.")

Conclusion: Fail to reject the null hypothesis (H₀). No significant association found between the type of device and customer satisfaction.