In [2]:
#Import Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.preprocessing import OrdinalEncoder
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/cars.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

# EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [5]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [6]:
df.replace('?', np.nan, inplace=True)

In [7]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [8]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [9]:
si = SimpleImputer(strategy='median')

In [10]:
df.iloc[:,[1,11]]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [11]:
df.iloc[:,[1,11]] = si.fit_transform(df.iloc[:,[1,11]])

In [12]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [13]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [14]:
df['normalized-losses'] = df['normalized-losses'].astype(int)
df['horsepower'] = df['horsepower'].astype(int)

In [15]:
df.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower             int32
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [16]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,115,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,115,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [17]:
df.select_dtypes(object).columns

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [18]:
cat_cols = df.select_dtypes(object).columns
cat_cols

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [19]:
df[cat_cols]

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [20]:
oe = OrdinalEncoder()
df[cat_cols] = oe.fit_transform(df[cat_cols])

In [21]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111,21,27,13495
1,3,115,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111,21,27,16500
2,1,115,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154,19,26,16500
3,2,164,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102,24,30,13950
4,2,164,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114,23,28,16845
201,-1,95,21.0,1.0,3.0,2.0,0.0,68.8,55.5,3.0,141,160,19,25,19045
202,-1,95,21.0,1.0,3.0,2.0,0.0,68.9,55.5,5.0,173,134,18,23,21485
203,-1,95,21.0,0.0,3.0,2.0,0.0,68.9,55.5,3.0,145,106,26,27,22470
204,-1,95,21.0,1.0,3.0,2.0,0.0,68.9,55.5,3.0,141,114,19,25,22625

In [22]:
df.dtypes

symboling              int64
normalized-losses      int32
make                 float64
fuel-type            float64
body-style           float64
drive-wheels         float64
engine-location      float64
width                float64
height               float64
engine-type          float64
engine-size            int64
horsepower             int32
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

# Model building

In [23]:
x = df.iloc[:,:-1]
y = df['price']

In [24]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3, random_state=1)

In [25]:
lr = LinearRegression()
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)

In [26]:
lr.coef_

array([ 5.71727164e+01,  4.76320989e-01, -2.01309566e+02, -6.22705136e+02,
       -1.63712110e+02,  1.88863899e+03,  1.63884484e+04,  7.90632094e+02,
        3.61221503e+02,  2.81207534e+02,  9.82290864e+01, -1.06474945e+01,
        3.08435166e+02, -4.17126915e+02])

In [27]:
lr.score(xtrain,ytrain), lr.score(xtest,ytest)

(0.8504229026078215, 0.7964854785429524)

# Lasso
Lasso Regularization Information

Lasso regularization, also known as L1 regularization, is a technique used in regression analysis to reduce overfitting by adding a penalty term to the loss function. The penalty term is proportional to the absolute value of the magnitude of the coefficients.

Lasso regularization can be used to:

* Reduce overfitting by shrinking the coefficients of irrelevant features to zero
* Perform feature selection by eliminating features with zero coefficients
* Improve model interpretability by reducing the number of features used in the model

The Lasso regularization term is added to the loss function as follows:

Loss = (1/2) * (y - X * w)^2 + alpha * ||w||1

where:

* Loss is the loss function
* y is the target variable
* X is the feature matrix
* w is the weight vector
* alpha is the regularization parameter
* ||w||1 is the L1 norm of the weight vector (the sum of the absolute values of the weights)

The value of alpha controls the strength of the regularization. A high value of alpha will result in a stronger regularization, while a low value will result in a weaker regularization.

In Python, Lasso regularization can be implemented using the scikit-learn library:

from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.1)
lasso.fit(X, y)

The Lasso class in scikit-learn takes the regularization parameter alpha as an argument. The fit method is used to train the model on the data.

The coefficients of the model can be accessed using the coef_ attribute:

print(lasso.coef_)

The coefficients are the weights assigned to each feature in the model. Features with zero coefficients are eliminated from the model.

The Lasso regularization can also be used in combination with other regularization techniques, such as Ridge regression (L2 regularization), to create an Elastic Net regularization.

In [28]:
l1 = Lasso()
l1.fit(xtrain,ytrain)
l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8504215478243032, 0.7966615211575686)

In [29]:
l1.coef_

array([ 5.70766693e+01,  4.67141700e-01, -2.01139953e+02, -6.14206970e+02,
       -1.64751649e+02,  1.88558824e+03,  1.63181959e+04,  7.88680118e+02,
        3.61783500e+02,  2.81248690e+02,  9.83193653e+01, -1.05310631e+01,
        3.07274772e+02, -4.15725804e+02])

# Hyperparameter Tuning

In [30]:
for i in range(10,100):
    l1 = Lasso(alpha=i)
    l1.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train : {l1.score(xtrain,ytrain)} Test: {l1.score(xtest,ytest)}")

Alpha: 10 Train : 0.8502874729494679 Test: 0.7981976641710955
Alpha: 11 Train : 0.8502590366899868 Test: 0.798363036012669
Alpha: 12 Train : 0.8502278923539831 Test: 0.7985273615569264
Alpha: 13 Train : 0.8501940398798169 Test: 0.798690640942852
Alpha: 14 Train : 0.8501574792025468 Test: 0.798852874305717
Alpha: 15 Train : 0.8501182170720096 Test: 0.7990139727199904
Alpha: 16 Train : 0.8500762405870004 Test: 0.7991741103827844
Alpha: 17 Train : 0.8500315637871662 Test: 0.7993331100375064
Alpha: 18 Train : 0.8499841713431744 Test: 0.799491152641093
Alpha: 19 Train : 0.8499340798562895 Test: 0.7996480535198025
Alpha: 20 Train : 0.849881281256289 Test: 0.7998039052044477
Alpha: 21 Train : 0.8498257652190869 Test: 0.7999588025187362
Alpha: 22 Train : 0.8497675520093597 Test: 0.8001125546198936
Alpha: 23 Train : 0.8497066316988291 Test: 0.800265257507501
Alpha: 24 Train : 0.8496429920189414 Test: 0.8004170089599797
Alpha: 25 Train : 0.8495766570554482 Test: 0.8005676127066222
Alpha: 26 Train : 0.849507615025279 Test: 0.8007171670330852
Alpha: 27 Train : 0.8494358659041693 Test: 0.800865672137543
Alpha: 28 Train : 0.849361394861532 Test: 0.8010132281832133
Alpha: 29 Train : 0.8492842310675794 Test: 0.8011596343211796
Alpha: 30 Train : 0.8492043601831731 Test: 0.8013049912614203
Alpha: 31 Train : 0.8491217651794869 Test: 0.8014494019632878
Alpha: 32 Train : 0.8490364796480371 Test: 0.8015926597296399
Alpha: 33 Train : 0.8489484870327078 Test: 0.8017348682957762
Alpha: 34 Train : 0.8488577873344021 Test: 0.801876027658631
Alpha: 35 Train : 0.8487643805542526 Test: 0.8020161378143252
Alpha: 36 Train : 0.8486682463409705 Test: 0.8021553031514921
Alpha: 37 Train : 0.8485694249333975 Test: 0.8022933140841506
Alpha: 38 Train : 0.8484678964530805 Test: 0.8024302758008505
Alpha: 39 Train : 0.8483636609030812 Test: 0.8025661882905541
Alpha: 40 Train : 0.8482566949130552 Test: 0.8027011581242833
Alpha: 41 Train : 0.8481470446586007 Test: 0.8028349717637246
Alpha: 42 Train : 0.8480346873444039 Test: 0.8029677361484954
Alpha: 43 Train : 0.8479196229755337 Test: 0.803099451263525
Alpha: 44 Train : 0.8478018515570703 Test: 0.803230117095323
Alpha: 45 Train : 0.8476813460664714 Test: 0.803359841484445
Alpha: 46 Train : 0.8475581601224421 Test: 0.8034884077611059
Alpha: 47 Train : 0.8474322671805895 Test: 0.8036159246130534
Alpha: 48 Train : 0.847303667285195 Test: 0.8037423918945836
Alpha: 49 Train : 0.8471723604665308 Test: 0.8038678095245826
Alpha: 50 Train : 0.8470383160835762 Test: 0.8039922858408179
Alpha: 51 Train : 0.8469015955988709 Test: 0.8041156011839323
Alpha: 52 Train : 0.8467621701431711 Test: 0.8042378603521455
Alpha: 53 Train : 0.8466200453017881 Test: 0.8043591098018061
Alpha: 54 Train : 0.8464752679442824 Test: 0.804479154560465
Alpha: 55 Train : 0.8463277847490409 Test: 0.8045981460344668
Alpha: 56 Train : 0.8461775957176225 Test: 0.8047160842186238
Alpha: 57 Train : 0.8460247008473277 Test: 0.8048329691211766
Alpha: 58 Train : 0.8458690626367001 Test: 0.8049489128158684
Alpha: 59 Train : 0.8457107556180303 Test: 0.8050636902592173
Alpha: 60 Train : 0.8455497427647596 Test: 0.8051774144275454
Alpha: 61 Train : 0.845386024080752 Test: 0.8052900853093062
Alpha: 62 Train : 0.845219599562587 Test: 0.8054017029139318
Alpha: 63 Train : 0.845050427254473 Test: 0.8055123806939473
Alpha: 64 Train : 0.8448785906266846 Test: 0.8056218907549675
Alpha: 65 Train : 0.844704048152366 Test: 0.805730347591631
Alpha: 66 Train : 0.8445267998398778 Test: 0.8058377511793389
Alpha: 67 Train : 0.8443468456981222 Test: 0.805944101493892
Alpha: 68 Train : 0.844164139102787 Test: 0.8060495132971848
Alpha: 69 Train : 0.8439787728386476 Test: 0.8061537561233667
Alpha: 70 Train : 0.8437907007503687 Test: 0.8062569456814696
Alpha: 71 Train : 0.8435999228396123 Test: 0.8063590819670045
Alpha: 72 Train : 0.8434064391013533 Test: 0.806460164991113
Alpha: 73 Train : 0.8432101980253942 Test: 0.8065603107500828
Alpha: 74 Train : 0.8430180812067117 Test: 0.8066746464484672
Alpha: 75 Train : 0.8428251892369141 Test: 0.8067923441485927
Alpha: 76 Train : 0.8426296275745631 Test: 0.8069092918209664
Alpha: 77 Train : 0.8424315438873821 Test: 0.8070253258844146
Alpha: 78 Train : 0.8422308691468225 Test: 0.8071405232613497
Alpha: 79 Train : 0.8420275287462018 Test: 0.8072549602500941
Alpha: 80 Train : 0.8418216735345556 Test: 0.8073684805875915
Alpha: 81 Train : 0.8416132286402628 Test: 0.8074811625933129
Alpha: 82 Train : 0.8414021941866924 Test: 0.8075930061063104
Alpha: 83 Train : 0.8411884892803483 Test: 0.8077040872505037
Alpha: 84 Train : 0.8409722756332629 Test: 0.8078142521722217
Alpha: 85 Train : 0.8407534726770236 Test: 0.8079235783153447
Alpha: 86 Train : 0.8405320804320495 Test: 0.8080320656461115
Alpha: 87 Train : 0.8403080118093453 Test: 0.8081397895635937
Alpha: 88 Train : 0.8400852551711248 Test: 0.808234353161088
Alpha: 89 Train : 0.8398709481686055 Test: 0.808291143904557
Alpha: 90 Train : 0.8396542918552031 Test: 0.8083470368532599
Alpha: 91 Train : 0.8394351519477532 Test: 0.8084022886639045
Alpha: 92 Train : 0.839213728764307 Test: 0.8084565259571278
Alpha: 93 Train : 0.8389858229742198 Test: 0.80852373007678
Alpha: 94 Train : 0.8387452680105922 Test: 0.8086234568396949
Alpha: 95 Train : 0.8385022541269312 Test: 0.8087222762601886
Alpha: 96 Train : 0.8382566108172117 Test: 0.8088203066983994
Alpha: 97 Train : 0.8380084071580559 Test: 0.8089175006752563
Alpha: 98 Train : 0.8377576384766056 Test: 0.8090138616658784
Alpha: 99 Train : 0.837504302242722 Test: 0.8091093915340022

In [38]:
l1 = Lasso(alpha=175)
l1.fit(xtrain,ytrain)
l1.score(xtrain,ytrain), l1.score(xtest,ytest)

(0.8107234361496893, 0.8139459609474125)

In [32]:
l1.coef_

array([  26.15091464,   -0.        , -173.02547787,   -0.        ,
       -363.80743898, 1247.84193718, 3867.709301  ,  391.04314711,
        451.57194036,  297.35122938,  113.32977728,   11.00742675,
         70.90090498, -160.35202828])

# Ridge

In [33]:
l2 = Ridge()

l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain), l2.score(xtest,ytest)

(0.8435840853399225, 0.8075632224690537)

In [34]:
for i in range(1,100):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train: {l2.score(xtrain,ytrain)} Test: {l2.score(xtest,ytest)}")

Alpha: 1 Train: 0.8435840853399225 Test: 0.8075632224690537
Alpha: 2 Train: 0.8356695734845092 Test: 0.8112192014374255
Alpha: 3 Train: 0.8296379623431073 Test: 0.8129299663310143
Alpha: 4 Train: 0.8250699092246864 Test: 0.8138839096972439
Alpha: 5 Train: 0.8215093087765016 Test: 0.8144682684596014
Alpha: 6 Train: 0.8186486103834849 Test: 0.814843562726523
Alpha: 7 Train: 0.8162882573020809 Test: 0.8150880725612083
Alpha: 8 Train: 0.8142964263180523 Test: 0.815244730507158
Alpha: 9 Train: 0.812583522729097 Test: 0.8153392574436445
Alpha: 10 Train: 0.8110868722186451 Test: 0.8153881483263244
Alpha: 11 Train: 0.8097614513602518 Test: 0.8154025610279507
Alpha: 12 Train: 0.8085741366835051 Test: 0.8153903693701571
Alpha: 13 Train: 0.8075000372738095 Test: 0.8153573212892009
Alpha: 14 Train: 0.8065200924084595 Test: 0.8153077294072232
Alpha: 15 Train: 0.8056194580416446 Test: 0.8152449025615436
Alpha: 16 Train: 0.804786398073303 Test: 0.8151714264843272
Alpha: 17 Train: 0.8040115065187471 Test: 0.8150893527689589
Alpha: 18 Train: 0.8032871514648678 Test: 0.8150003299437463
Alpha: 19 Train: 0.8026070707304607 Test: 0.8149056967781803
Alpha: 20 Train: 0.8019660732378707 Test: 0.8148065502246254
Alpha: 21 Train: 0.8013598153077788 Test: 0.8147037958811019
Alpha: 22 Train: 0.8007846308878103 Test: 0.8145981861304739
Alpha: 23 Train: 0.8002374011637663 Test: 0.8144903494117508
Alpha: 24 Train: 0.7997154533085167 Test: 0.8143808129927239
Alpha: 25 Train: 0.7992164810518412 Test: 0.8142700209017136
Alpha: 26 Train: 0.7987384817763888 Test: 0.814158348199973
Alpha: 27 Train: 0.7982797062609374 Test: 0.8140461124511118
Alpha: 28 Train: 0.7978386181969568 Test: 0.8139335830177278
Alpha: 29 Train: 0.7974138613263302 Test: 0.8138209886554859
Alpha: 30 Train: 0.7970042325726074 Test: 0.8137085237599926
Alpha: 31 Train: 0.7966086599233979 Test: 0.8135963535381272
Alpha: 32 Train: 0.7962261841073035 Test: 0.8134846183137231
Alpha: 33 Train: 0.7958559433227879 Test: 0.8133734371313501
Alpha: 34 Train: 0.7954971604380747 Test: 0.8132629107871046
Alpha: 35 Train: 0.7951491322043276 Test: 0.8131531243887079
Alpha: 36 Train: 0.7948112201189454 Test: 0.8130441495267423
Alpha: 37 Train: 0.7944828426489629 Test: 0.8129360461229016
Alpha: 38 Train: 0.7941634685815295 Test: 0.8128288640086809
Alpha: 39 Train: 0.7938526113131446 Test: 0.8127226442780506
Alpha: 40 Train: 0.7935498239245844 Test: 0.8126174204498453
Alpha: 41 Train: 0.7932546949164723 Test: 0.8125132194693
Alpha: 42 Train: 0.7929668445028013 Test: 0.8124100625731353
Alpha: 43 Train: 0.7926859213776736 Test: 0.8123079660384829
Alpha: 44 Train: 0.7924115998850196 Test: 0.8122069418326154
Alpha: 45 Train: 0.7921435775328081 Test: 0.8121069981777131
Alpha: 46 Train: 0.7918815728028478 Test: 0.8120081400426531
Alpha: 47 Train: 0.7916253232151244 Test: 0.8119103695719461
Alpha: 48 Train: 0.7913745836120682 Test: 0.8118136864604217
Alpha: 49 Train: 0.7911291246334808 Test: 0.8117180882809593
Alpha: 50 Train: 0.7908887313572605 Test: 0.8116235707715007
Alpha: 51 Train: 0.7906532020847592 Test: 0.811530128086684
Alpha: 52 Train: 0.7904223472526619 Test: 0.8114377530186672
Alpha: 53 Train: 0.7901959884558677 Test: 0.811346437191079
Alpha: 54 Train: 0.7899739575680174 Test: 0.8112561712294909
Alpha: 55 Train: 0.7897560959481498 Test: 0.8111669449113403
Alpha: 56 Train: 0.7895422537235103 Test: 0.8110787472978381
Alpha: 57 Train: 0.7893322891398644 Test: 0.8109915668500709
Alpha: 58 Train: 0.7891260679717907 Test: 0.8109053915312061
Alpha: 59 Train: 0.7889234629863806 Test: 0.8108202088964674
Alpha: 60 Train: 0.788724353454611 Test: 0.8107360061723382
Alpha: 61 Train: 0.7885286247053471 Test: 0.8106527703262635
Alpha: 62 Train: 0.7883361677175607 Test: 0.8105704881279608
Alpha: 63 Train: 0.7881468787468563 Test: 0.8104891462033195
Alpha: 64 Train: 0.7879606589828785 Test: 0.8104087310817414
Alpha: 65 Train: 0.7877774142345472 Test: 0.8103292292376811
Alpha: 66 Train: 0.7875970546404287 Test: 0.8102506271270438
Alpha: 67 Train: 0.7874194944018466 Test: 0.8101729112190271
Alpha: 68 Train: 0.7872446515365975 Test: 0.8100960680239268
Alpha: 69 Train: 0.7870724476513742 Test: 0.8100200841173542
Alpha: 70 Train: 0.786902807731193 Test: 0.809944946161276
Alpha: 71 Train: 0.7867356599443074 Test: 0.8098706409222324
Alpha: 72 Train: 0.786570935461244 Test: 0.8097971552870418
Alpha: 73 Train: 0.7864085682867381 Test: 0.8097244762762874
Alpha: 74 Train: 0.7862484951034632 Test: 0.8096525910558197
Alpha: 75 Train: 0.786090655126568 Test: 0.8095814869465081
Alpha: 76 Train: 0.7859349899681197 Test: 0.8095111514324311
Alpha: 77 Train: 0.7857814435106488 Test: 0.8094415721676851
Alpha: 78 Train: 0.7856299617890594 Test: 0.8093727369819632
Alpha: 79 Train: 0.7854804928802398 Test: 0.8093046338850487
Alpha: 80 Train: 0.7853329867997779 Test: 0.8092372510703418
Alpha: 81 Train: 0.785187395405222 Test: 0.8091705769175341
Alpha: 82 Train: 0.7850436723053973 Test: 0.8091045999945259
Alpha: 83 Train: 0.7849017727753195 Test: 0.8090393090586788
Alpha: 84 Train: 0.78476165367629 Test: 0.8089746930574779
Alpha: 85 Train: 0.7846232733807956 Test: 0.8089107411286772
Alpha: 86 Train: 0.7844865917018645 Test: 0.8088474425999874
Alpha: 87 Train: 0.7843515698265606 Test: 0.8087847869883671
Alpha: 88 Train: 0.7842181702533259 Test: 0.8087227639989625
Alpha: 89 Train: 0.7840863567329017 Test: 0.8086613635237428
Alpha: 90 Train: 0.7839560942125866 Test: 0.8086005756398728
Alpha: 91 Train: 0.7838273487836 Test: 0.8085403906078545
Alpha: 92 Train: 0.7837000876313459 Test: 0.8084807988694747
Alpha: 93 Train: 0.7835742789883862 Test: 0.8084217910455799
Alpha: 94 Train: 0.783449892089942 Test: 0.8083633579337142
Alpha: 95 Train: 0.7833268971317657 Test: 0.8083054905056332
Alpha: 96 Train: 0.7832052652302253 Test: 0.8082481799047186
Alpha: 97 Train: 0.7830849683844653 Test: 0.8081914174433131
Alpha: 98 Train: 0.7829659794405156 Test: 0.8081351945999873
Alpha: 99 Train: 0.7828482720572246 Test: 0.8080795030167582

In [35]:
l2 = Ridge(alpha=7)
l2.fit(xtrain,ytrain)
l2.score(xtrain,ytrain),l2.score(xtest,ytest)

(0.8162882573020809, 0.8150880725612083)

In [36]:
l2.coef_

array([ 2.31139279e+02, -3.29204695e+00, -1.90126861e+02, -1.01249352e+03,
       -6.04047656e+02,  1.71736131e+03,  3.40160377e+03,  3.91530395e+02,
        5.57861287e+02,  5.13867686e+02,  1.02968876e+02,  2.01227011e+01,
        2.13425523e+02, -2.79915768e+02])

# Elastic Net

In [37]:
en = ElasticNet()
en.fit(xtrain,ytrain)
en.score(xtrain,ytrain), en.score(xtest,ytest)

(0.7866253599240464, 0.8098264817256129)

In [43]:
for i in range(0,1):
    en = ElasticNet(alpha= i )
    en.fit(xtrain,ytrain)
    print(f"Alpha: {i} Train: {en.score(xtrain,ytrain)} Test: {en.score(xtest,ytest)}")

Alpha: 0 Train: 0.8504229026078215 Test: 0.7964854785429525