---
# Introduction to Pandas

**Pandas** is a powerful, open-source data analysis and manipulation library in Python. It provides data structures and functions needed to work with structured data seamlessly. Pandas is particularly well-suited for tasks like data cleaning, transformation, and analysis.

## Core Data Structures in Pandas

- **`Series`**: A one-dimensional labeled array capable of holding any data type (integers, strings, floats, Python objects, etc.). It is similar to a column in a table or a list in Python.

- **`DataFrame`**: A two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database or an Excel spreadsheet.

## Basic Operational Functions in Pandas

### 1. Data Loading

- **`pd.read_csv()`**: Loads data from a CSV file into a DataFrame.
- **`pd.read_excel()`**: Loads data from an Excel file into a DataFrame.
- **`pd.read_json()`**: Loads data from a JSON file into a DataFrame.

### 2. Data Inspection

- **`df.head()`**: Returns the first few rows of the DataFrame.
- **`df.tail()`**: Returns the last few rows of the DataFrame.
- **`df.info()`**: Provides a concise summary of the DataFrame, including data types and non-null counts.
- **`df.describe()`**: Generates descriptive statistics of the DataFrame, including measures like mean, median, and standard deviation.

### 3. Data Selection and Filtering

- **`df['column_name']`**: Selects a single column from the DataFrame.
- **`df[['col1', 'col2']]`**: Selects multiple columns from the DataFrame.
- **`df.iloc[]`**: Selects data by index-based positions (integer location).
- **`df.loc[]`**: Selects data by label-based positions.
- **`df[df['column'] > value]`**: Filters rows based on a condition.

### 4. Data Manipulation

- **`df.drop()`**: Removes rows or columns from the DataFrame.
- **`df.rename()`**: Renames columns or indexes in the DataFrame.
- **`df.sort_values()`**: Sorts the DataFrame by the values of one or more columns.
- **`df.fillna()`**: Replaces missing values with a specified value.
- **`df.apply()`**: Applies a function along an axis of the DataFrame.

### 5. Data Aggregation and Grouping

- **`df.groupby()`**: Groups data by a specified column or columns and performs operations like sum, mean, etc., on each group.
- **`df.agg()`**: Aggregates data using one or more operations.
- **`df.pivot_table()`**: Creates a pivot table based on specified index, columns, and aggregation function.

### 6. Data Merging and Concatenation

- **`pd.merge()`**: Merges two DataFrames based on a common column or index.
- **`pd.concat()`**: Concatenates two or more DataFrames along a particular axis (rows or columns).

### 7. Handling Missing Data

- **`df.isnull()`**: Detects missing values, returning a DataFrame of the same shape with boolean values.
- **`df.dropna()`**: Removes missing values from the DataFrame.
- **`df.fillna()`**: Fills missing values with a specified value or method.

### 8. Input/Output Operations

- **`df.to_csv()`**: Exports the DataFrame to a CSV file.
- **`df.to_excel()`**: Exports the DataFrame to an Excel file.
- **`df.to_json()`**: Exports the DataFrame to a JSON file.

## Conclusion

Pandas is an essential tool for data manipulation and analysis in Python, offering a wide range of functions to work with data efficiently. Understanding these basic operations is crucial for performing effective data analysis and transformation tasks.

---

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [12]:
data = {
    'Name': ['Rushi'],
    'Age': [22],
    'Course':['DS']
}

pd.DataFrame(data)

    Name  Age Course
0  Rushi   22     DS